<h1><%= "#{@deck.name}" %></h1>
by: <%= @deck.user.username %>
<% if current_user %>
	<% if current_user.id == @deck.user.id %>
		<%= link_to "Edit", edit_deck_path(@deck)%>	
	<% end %>
<% end %>

<hr>


<% creatures = [] %>
<% planeswalkers = [] %>
<% spells = [] %>
<% artifacts = [] %>
<% land = [] %>
<% side = [] %>

<% @deck.spells.each do |spell| %>
	<% types = spell.card_type.split %>
	<% if spell.side %>
		<% side << spell %>
	<% elsif types.include?("Creature") %>
		<% creatures << spell %>
	<% elsif types.include?("Planeswalker") %>
		<% planeswalkers << spell %>
	<% elsif types.include?("Instant") || types.include?("Sorcery") %>
		<% spells << spell %>
	<% elsif types.include?("Artifact") %>
		<% artifacts << spell %>
	<% elsif types.include?("Land") %> 
		<% land << spell %>
	<% end %>
<% end %>


<% if creatures.length > 0 %>
	<h4>Creatures(<%= creatures.length %>):</h4>
	<% creatures.each_slice(4).each do |row| %>
		<div class="row">
			<% row.each do |spell| %>
				<div class="col-md-3">
					<strong><%=spell.name%></strong>
					<img src="<%= spell.img_url %>" /> 
					<% spell.show = true %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if planeswalkers.length > 0 %>
	<h4>Planeswalkers(<%= planeswalkers.length %>):</h4>
	<% planeswalkers.each_slice(4).each do |row| %>
		<div class="row">
			<% row.each do |spell| %>
				<div class="col-md-3">
					<strong><%=spell.name%></strong>
					<img src="<%= spell.img_url %>" /> 
					<% spell.show = true %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if spells.length > 0 %>
	<h4>Spells(<%= spells.length %>):</h4>
	<% spells.each_slice(4).each do |row| %>
		<div class="row">
			<% row.each do |spell| %>
				<div class="col-md-3">
					<strong><%=spell.name%></strong>
					<img src="<%= spell.img_url %>" /> 
					<% spell.show = true %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>


<% if artifacts.length > 0 %>
	<h4>Artifacts(<%= artifacts.length %>):</h4>
	<% artifacts.each_slice(4).each do |row| %>
		<div class="row">
			<% row.each do |spell| %>
				<div class="col-md-3">
					<strong><%=spell.name%></strong>
					<img src="<%= spell.img_url %>" /> 
					<% spell.show = true %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>

<% if land.length > 0 %>
	<h4>Land(<%= land.length %>):</h4>
	<% land.each_slice(4).each do |row| %>
		<div class="row">
			<% row.each do |spell| %>
				<div class="col-md-3">
					<strong><%=spell.name%></strong>
					<img src="<%= spell.img_url %>" /> 
					<% spell.show = true %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>