<!DOCTYPE html>
<html>
  <head>
    <title>MTG Deck Builder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
    src="http://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class='nav navbar-nav navbar-right'>
          	<% if current_user %>
              <!-- User is logged in -->
              <li><a href="#"><strong> Logged in as <%= current_user.username.capitalize %></strong></a></li> 
              <li><%= link_to 'Home', root_path %></li> 
              <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
            <% else %>
              <!-- not logged in -->
              <li> <%= link_to 'Home', root_path %> </li>
              <li> <%= link_to 'Log In', new_session_path %> </li>
              <li> <%= link_to 'Sign Up', new_user_path %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


  	<% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>

		<div class="container">
		  <% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>">
		      <%= value %>
		    </div>
		  <% end %>
		  <div class="row">
		    <div class="col-md-12">
			    <%= yield %>
			  </div>
		  </div>
		</div>
		<hr>

  </body>
</html>
